.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# Note: plugins/ folder should be included (not ignored) so NuGet packages can be downloaded here
!plugins/
